h1 {
  color:royalblue;
}

body {
  background-image: linear-gradient(to right, #fa709a 00%, #fee140 130%);
}

.mydesign {
  color:firebrick;
}

.mydesign:hover {
  font-size: 150%;
}

a {
  font-weight:bold;
  background-color:inherit;
  color: royalblue;
  padding: none;
  text-decoration:none;
  text-transform: uppercase;
}

a:hover {
  color:magenta;
  font-size: 1.3em;
}

h3 {
  color:crimson;
}

img {
  border-style:outset;
  border-color:lawngreen;
  border-width:4px;
  width:25%;
}
